* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    font-family: monospace;
}

.form {
    margin: 10px 30%;
    background-color: lightgreen;
    padding: 16px;
}

.cards-container {
    margin: 0 30%;
    /* background-color: mediumaquamarine; */
    /* overflow: auto; */
    text-align: center;

}

.search-container {
    margin: 0 30% 0 30% ;    
}

.card {
    background-color: lightsteelblue;
    width: 100%;
    padding: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
    transition: all .2s ease-in-out;
}

.card:hover {
    transform: scale(1.02);
}

.card h3 {
    font-size: 20px;
    margin-bottom: 8px;
}

.card p {
    font-size: 18px;
}

.box {
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.field-wrapper {
    margin-bottom: 16px;
}

.field-wrapper label {
    display: block;
    font-size: 18px;
}

.field-wrapper input, 
.field-wrapper textarea {
    outline: none;
    width: 100%;
    border-radius: 5px;
    font-size: 18px;
    padding: 8px 8px;
    border: 2px solid grey;
}

.half {
    width: 50%;
}

.field-wrapper input[type=text]:focus, 
.field-wrapper textarea:focus {
    border: 2px solid lightgray;
    outline: none;
}

.btn {
    width: 100%;
    border: 2px solid #000;
    border-radius: 5px;
    padding: 8px 0;
    background-color: lightslategray;
    color: lightyellow;
    font-size: 18px;
}